<app-navbar></app-navbar>
<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">
          <h1>About Us</h1>

          <!-- <button class="btn-solid-lg text-white cursor">POST JOBS</button> -->
          <!-- <button class="btn-outline-lg cursor font-weight-bold">
              FIND JOBS
            </button> -->
        </div>
      </div>
      <div style="color: white" class="mt-5">
        CareerTuner.com is the innovative online job portal founded in India.
        Founded in 2022, Career Tuner has become a prominent name in the
        recruitment industry. <br>It is a promising portal which fulfils your
        dreams. Career Tuner connects jobseekers and recruiters by accurately
        matching candidate profiles to the relevant job openings through an
        advanced 2-way matching technology. While most job portals only focus on
        getting candidates the next job, Career Tuner focuses on the entire
        career growth of candidates.
        <br />

        We aspire to become a certified company,career tuner Jobs is the only
        job portal that offers you an online skill enhancement library called
        e-University. From course material on 4000+ topics to frequently-asked
        interview questions and practice exams, this feature helps you to brush
        up your knowledge, and be better-prepared for the demands of the job
        market. We are expecting more than 30 million job seekers like you to
        register with Career Tuner to find the job of their choice.
        <br />
        Career Tuner works closely to bridge the gap between talent &
        opportunities and offers end-to-end recruitment solutions. It brings
        candidates and top employers under one roof.
      </div>
    </div>
  </div>
</header>
