.footer {
	padding-top: 4.75rem;
	padding-bottom: 2rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/header-background.jpg') center center no-repeat;
	background-size: cover;
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}

.footer h5 {
	margin-bottom: 0.5rem;
}

.footer a { 
	text-decoration: none;
}

.footer h5,
.footer p,
.footer a {
	color: #bbb;
}

.footer .list-unstyled .fas {
	color: #bbb;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .fab {
	margin-bottom: 0.75rem;
	margin-right: 1rem;
	color: #ccc;
	font-size: 1.25rem;
	transition: all 0.2s ease;
}

.footer .fab:hover {
	color: #ffbd50;
}


/*************************/
/*     18. Copyright     */
/*************************/
.copyright {
	padding-top: 1.5rem;
	padding-bottom: 0.375rem;
	background-color: #000;
	text-align: center;
}

.copyright .p-small {
	color: #999;
	font-size: 0.75rem;
	line-height: 1.375rem;
}

.copyright a {
	color: #999;
}

/***********************************/

fa-icon{
    margin-right: 10px;
    margin-left: 0;
}