<nav
  class="navbar navbar-expand-lg navbar-custom fixed-top"
  [ngClass]="{ 'top-nav-collapse': a === true }"
>
  <div class="d-flex">
    <a class="navbar-brand p-2" routerLink="">Career Tuner</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="navbar-toggler-awesome fas fa-bars"
        style="color: #ffbd50"
      ></span>
      <span
        class="navbar-toggler-awesome fas fa-times"
        style="color: #ffbd50"
      ></span>
    </button> -->

    <div
      class="collapse navbar-collapse"
      id="navbarsExampleDefault"
      style="float: right"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="link">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">JOBS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AboutUs">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/signin" *ngIf="!isLoggedIn"
            >SIGN IN</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
