

  /*! CSS Used from: https://demo.phpjabbers.com/free-web-templates/job-website-template-138/vendor/bootstrap/css/bootstrap.min.css */
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  h2,
  h4,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  strong {
    font-weight: bolder;
  }
  small {
    font-size: 80%;
  }
  a {
    color: #ffbd50;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  h2,
  h4,
  h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 1rem;
  }
  small {
    font-size: 80%;
    font-weight: 400;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-md-12,
  .col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (min-width: 768px) {
    .col-md-4 {
      /* -ms-flex: 0 0 33.333333%; */
      /* flex: 0 0 33.333333%; */
      max-width: 33.333333%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media print {
    *,
    ::after,
    ::before {
      text-shadow: none !important;
      box-shadow: none !important;
    }
    a:not(.btn) {
      text-decoration: underline;
    }
    img {
      page-break-inside: avoid;
    }
    h2 {
      orphans: 3;
      widows: 3;
    }
    h2 {
      page-break-after: avoid;
    }
    .container {
      min-width: 992px !important;
    }
  }
  /*! CSS Used from: https://demo.phpjabbers.com/free-web-templates/job-website-template-138/assets/css/fontawesome.css */
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  .fa-map-marker:before {
    content: "\f041";
  }
  .fa-calendar:before {
    content: "\f073";
  }
  .fa-briefcase:before {
    content: "\f0b1";
  }
  .fa-angle-right:before {
    content: "\f105";
  }
  .fa-file:before {
    content: "\f15b";
  }
  .fa-building:before {
    content: "\f1ad";
  }
  /*! CSS Used from: https://demo.phpjabbers.com/free-web-templates/job-website-template-138/assets/css/style.css */
  a {
    text-decoration: none !important;
  }
  h2,
  h4,
  h6 {
    margin: 0px;
  }
  .section-heading {
    text-align: left;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
  }
  .section-heading h2 {
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 15px;
  }
  .latest-products {
    margin-top: 100px;
  }
  .section-heading a {
    float: right;
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
  }
  .product-item {
    margin-bottom: 30px;
    width: 40rem;
    border-radius: 20px;
    background-color: transparent;
    border: #555555 solid 1px;
  }
  .product-item .down-content {
    padding: 20px;
  }
  .product-item img {
    padding: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
  }
  .product-item .down-content h4 {
    font-size: 17px;
    
    margin-bottom: 20px;
  }
  .product-item .down-content h6 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #121212;
  }
  @media (max-width: 768px) {
    .section-heading a {
      float: none;
      margin-top: 0px;
      display: block;
      margin-bottom: 20px;
    }
    .product-item .down-content h4 {
      margin-bottom: 20px !important;
    }
  }
  @media (max-width: 992px) {
    .product-item .down-content h4 {
      margin-bottom: 10px;
    }
    .product-item .down-content h6 {
      margin-bottom: 20px;
    }
  }
  /*! CSS Used fontfaces */
  /* @font-face {
    font-family: "FontAwesome";
    src: url("https://demo.phpjabbers.com/free-web-templates/job-website-template-138/assets/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://demo.phpjabbers.com/free-web-templates/job-website-template-138/assets/fonts/fontawesome-webfont.eot#iefix&v=4.3.0")
        format("embedded-opentype"),
      url("https://demo.phpjabbers.com/free-web-templates/job-website-template-138/assets/fonts/fontawesome-webfont.woff2?v=4.3.0")
        format("woff2"),
      url("https://demo.phpjabbers.com/free-web-templates/job-website-template-138/assets/fonts/fontawesome-webfont.woff?v=4.3.0")
        format("woff"),
      url("https://demo.phpjabbers.com/free-web-templates/job-website-template-138/assets/fonts/fontawesome-webfont.ttf?v=4.3.0")
        format("truetype"),
      url("https://demo.phpjabbers.com/free-web-templates/job-website-template-138/assets/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  } */

