<app-navbar></app-navbar>

<div class="login">
  <div class="container">
    <div class="form-container sign-up-container">
      <form (ngSubmit)="signup(rform)" #rform="ngForm" ngNativeValidate>
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><fa-icon [icon]="facebook"></fa-icon></a>
          <a href="#" class="social"><fa-icon [icon]="google"></fa-icon></a>
          <a href="#" class="social"><fa-icon [icon]="linkedin"></fa-icon></a>
        </div>
        <span>or use your email for registration</span>
        <select id="role" class="form-select">
          <option value="Applicant" selected>Applicant</option>
          <option value="Recruiter">Recruiter</option>
        </select>
        <input name="email" type="email" placeholder="Email" ngModel required />
        <input
          name="phone"
          type="tel"
          placeholder="Phone"
          maxlength="10"
          minlength="10"
          ngModel
          required
        />
        <input
          name="password"
          type="password"
          placeholder="Password"
          minlength="6"
          ngModel
          required
        />
        <button class="btn btn-primary signIn">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form (ngSubmit)="signin(myForm)" #myForm="ngForm" ngNativeValidate>
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><fa-icon [icon]="facebook"></fa-icon></a>
          <a href="#" class="social"><fa-icon [icon]="google"></fa-icon></a>
          <a href="#" class="social"><fa-icon [icon]="linkedin"></fa-icon></a>
        </div>
        <span>or use your account</span>
        <span *ngIf="toggle" style="color: red;">Invalid Email or Password</span>
        <input name="email" type="email" placeholder="Email" ngModel required />
        <input
          name="password"
          type="password"
          placeholder="Password"
          minlength="6"
          ngModel
          required
        />
        <a href="#">Forgot your password?</a>
        <button class="btn btn-primary signIn" type="submit">SUBMIT</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" (click)="remove($event)">
            Sign In
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start your journey with us !</p>
          <button class="ghost" id="signUp" (click)="remove($event)">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-spinner *ngIf="toggle1"></app-spinner>
