<!-- <app-usernav></app-usernav> -->

<div class="newjob">
  <div
    class="container border mt-5 p-5"
    style="border: white; background-color: white; border-radius: 20px"
  >
    <h1 class="mb-5">Job Posting Application:</h1>

    <div class="container mt-5 mb-5">
      <ul>
        <li class="">
          <h4 class="pt-2">
            Title of the Job<span style="color: red">*</span>
          </h4>

          <input
            type="text"
            placeholder="Title"
            class="form-control m-2"
            maxlength="20"
            name="fname"
            required
          />
        </li>
        <li class="d-flex">
          <div class="">
            <h4>Type<span style="color: red">*</span></h4>
            <select class="form-select m-2" required>
              <option value="fulltime">Full Time</option>
              <option value="parttime">Part Time</option>
              <option value="Internship">Internship</option>
            </select>
          </div>

          <div style="margin-left: 4rem">
            <h4>Category<span style="color: red">*</span></h4>

            <select class="form-select m-2" required>
              <option value="fulltime">Full Time</option>
              <option value="parttime">Part Time</option>
              <option value="Internship">Internship</option>
            </select>
          </div>
          <div style="margin-left: 4rem">
            <h4>Deadline<span style="color: red">*</span></h4>

            <input type="date" class="form-control m-2" name="fname" required />
          </div>
          <div style="margin-left: 4rem">
            <h4>Salary<span style="color: red">*</span></h4>
            <div class="input-group">
              <input
                type="text"
                placeholder="Title"
                class="form-control"
                style="margin-right: 20px"
                name="fname"
                required
              />
              <input
                type="text"
                placeholder="Title"
                class="form-control"
                name="fname"
                required
              />
            </div>
          </div>
        </li>
        <li>
          <h4>Locations<span style="color: red">*</span></h4>

          <input
            type="text"
            placeholder="Title"
            class="form-control m-2"
            maxlength="20"
            name="fname"
            required
          />
        </li>
        <li>
          <h4>Qualification<span style="color: red">*</span></h4>

          <input
            type="text"
            placeholder="Title"
            class="form-control m-2"
            maxlength="20"
            name="fname"
            required
          />
        </li>
        <li>
          <h4>Skills/Qualifications: <span style="color: red">*</span></h4>

          <input
            type="text"
            placeholder="Title"
            class="form-control m-2"
            maxlength="20"
            name="fname"
            required
          />
        </li>
        <li class="d-flex">
          <div>
            <h4>No. of Positions<span style="color: red">*</span></h4>

            <input
              type="text"
              placeholder="Title"
              class="form-control m-2"
              style="width: min-content"
              name="fname"
              required
            />
          </div>

          <div style="margin-left: 4rem">
            <h4>Company Email <span style="color: red">*</span></h4>
            <input type="email" class="form-control m-2" placeholder="Email" />
          </div>
        </li>
        
        <li>
          <h4>Roles and Responsibilities<span style="color: red">*</span></h4>

          <textarea rows="3" cols="127" style="resize: none;" class="form-control"></textarea>
        </li>
        <li>
          <h4>Description<span style="color: red">*</span></h4>

          <textarea rows="5" cols="127" style="resize: none;" class="form-control"></textarea>
        </li>
      </ul>

      <h3>Submit Application <span style="color: red">*</span></h3>

      <div class="mt-4 mb-5">
        By clicking the submit button below, I certity that all of the
        information provided by me on this application is true and complete, and
        I understand that if any false information, ommissions, or
        misrepresentations are discovered, my application may be rejected and,
        account may be terminated at any time. &nbsp;
        I also understand and agree that the terms and conditions of my website may be changed,
        with or without cause, and with or without notice, at any time by the
        company. &nbsp;
      </div>

      <button class="btn btn-primary" style="float: right">Submit</button>
    </div>
  </div>
</div>