.newuser {
  padding-top: 8rem;
  padding-bottom: 11rem;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0.8) 50%,
      #ffbd50 50%,
      #ffbd50 100%
    ),
    url("/assets/header-background.jpg") top center;
}
.input-file-container {
  position: relative;
  width: 225px;
}
.input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #ffbd50;
  color: #fff;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
}
.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.file-return {
  margin: 0;
  float: left;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.file-return {
  font-style: italic;
  font-size: 0.9em;
  font-weight: bold;
}

li {
  margin-top: 40px;
}

ul {
  list-style-type: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

h3 {
  color: black;
  text-decoration: underline;
  margin-top: 40px;
}

ng-multiselect-dropdown {
  width: 100%;
  overflow: visible;
}

:host ::ng-deep .multiselect-dropdown .dropdown-list {
  overflow: hidden;
}

:host ::ng-deep .selected-item {
  max-width: max-content !important;
  background: #fcc367 !important;
  color: #fff !important;
  border: black !important;
  margin-top: 1px !important;
  padding-right: 3px !important;
}

:host ::ng-deep .selected-item a {
  margin-left: 10px;
  padding-bottom: 1px !important;
  color: grey !important;
  margin-right: 3px;
  width: 15px;
  padding-left: 3.5px !important;
}

:host ::ng-deep .selected-item a:hover {
  background-color: #eee;
  height: 25px;
  border-radius: 20px;
}

:host ::ng-deep .dropdown-multiselect__caret::before {
  display: none !important;
}

:host ::ng-deep .multiselect-item-checkbox input + div::before {
  border-color:  #ffbd50 !important;
}

:host ::ng-deep .multiselect-item-checkbox input:checked + div::before {
  background: transparent !important;
}

:host ::ng-deep .multiselect-item-checkbox input + div::after {
  border-color: #ffbd50 !important;
}
