<!-- <header class="header"></header> -->
<div class="newuser">
  <!-- <div class="container">
    <form (submit)="submit($event)">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h1>Enter Details</h1>
          </div>
          <label style="color: white" class="mt-5">Name</label>

          <div class="d-flex p-2">
            <input type="text" placeholder="First Name" class="form-control m-2" maxlength="20" name="fname" required />
            <input type="text" placeholder="Middle Name" class="form-control m-2" maxlength="20" name="mname" />
            <input type="text" placeholder="Last Name" class="form-control m-2" maxlength="25" name="lname" />
          </div>
          <label style="color: white" class="m-2">Education</label>
          <div class="d-flex p-2">
            <input type="text" placeholder="School 10th" class="form-control m-2" name="schooltenth" required />
            <input type="text" placeholder="10th Percentage/CGPA" class="form-control m-2" name="gradetenth" required />
            <input type="text" placeholder="School 12th" class="form-control m-2" name="schooltwelth" required />
            <input type="text" placeholder="School 12th Stream" class="form-control m-2" name="stream" required />
            <input type="text" placeholder="12th Percentage/CGPA" class="form-control m-2" name="gradetwelth"
              required />
          </div>
          <div class="d-flex p-2">
            <input type="text" placeholder="College" class="form-control m-2" name="college" required />
            <input type="text" placeholder="Degree" class="form-control m-2" name="degree" required />
            <input type="text" placeholder="Semester" class="form-control m-2" name="semester" required />
            <input type="text" placeholder="College Latest SGPA" class="form-control m-2" name="gradecollege"
              required />
          </div>
          <label style="color: white; float: left" class="m-2 p-2">Bio</label>
          <textarea class="form-control m-2 p-2" style="height: 100px; resize: none !important" maxlength="250"
            name="bio"></textarea>
        </div>
      </div>
      <div class="mt-4 mb-5">

        <div class="input-file-container">
          <input class="input-file" id="my-file" type="file" accept="application/pdf" (change)="change()" />
          <label for="my-file" class="btn-solid-lg text-white cursor">Add Resume</label>
        </div>
        <p class="file-return" style="color: white;"></p>
      </div>

      <button class="btn-solid-lg text-white cursor" type="submit">
        Register
      </button>
    </form>
  </div> -->
  <div
    class="container border mt-5 p-5"
    style="border: white; background-color: white; border-radius: 20px"
  >
    <h1 class="mb-5">Registration Application:</h1>

    <div class="container mt-5 mb-5">
      <div class="input-group">
        <h4 class="pt-2">
          Role: &nbsp;<span style="color: red">Applicant</span>
        </h4>
        <div class="input-file-container" style="margin-left: 50rem">
          <input
            class="input-file pic"
            id="my-file"
            type="file"
            accept="image/png, image/jpg, image/jpeg"
            (change)="change1()"
          />
          <label for="my-file" class="btn-solid-lg text-white cursor">{{
            pic
          }}</label>
          <p class="file-return picp" style="color: black"></p>
        </div>
      </div>

      <h3>Personal Information:</h3>

      <ul>
        <li>
          <h4>Full Name <span style="color: red">*</span></h4>

          <label>First Name</label>
          <input
            type="text"
            placeholder="First Name"
            class="form-control m-2"
            maxlength="20"
            name="fname"
            required
          />
          <label>Middle Name</label>
          <input
            type="text"
            placeholder="Middle Name"
            class="form-control m-2"
            maxlength="20"
            name="mname"
          />
          <label>Last Name</label>
          <input
            type="text"
            placeholder="Last Name"
            class="form-control m-2"
            maxlength="25"
            name="lname"
          />
        </li>
        <li>
          <h4>Address</h4>
          <label>Street Address</label>
          <input type="text" class="form-control m-2" placeholder="Line 1" />
          <label>Street Address Line 2</label>
          <input type="text" class="form-control m-2" placeholder="Line 2" />
          <label>City</label>
          <input
            type="text"
            class="form-control m-2"
            placeholder="Select a City"
          />
          <label>State/Province</label>
          <input
            type="text"
            class="form-control m-2"
            placeholder="Select a State/Province"
          />
          <label>Postal/Zip Code</label>
          <input
            type="text"
            class="form-control m-2"
            placeholder="Zip Code"
            maxlength="6"
          />
        </li>
        <li>
          <h4>Contact Information <span style="color: red">*</span></h4>
          <div class="d-flex mt-3">
            <div>
              <label>Phone Number</label>
              <input
                type="tel"
                class="form-control"
                [value]="mobile ? mobile : ''"
                placeholder="Phone Number"
                maxlength="10"
                style="
                  width: min-content;
                  margin-right: 5rem;
                  margin-left: 0.5rem;
                "
                required
              />
            </div>
            <div>
              <label>Alternate Number</label>
              <input
                type="tel"
                class="form-control"
                placeholder="Alternate Number"
                maxlength="10"
                style="width: min-content"
              />
            </div>
          </div>
        </li>
        <li>
          <h4>Email <span style="color: red">*</span></h4>
          <input
            type="email"
            class="form-control m-2"
            [value]="email ? email : ''"
            placeholder="Email"
          />
        </li>
        <li class="d-flex">
          <div>
            <h4>BirthDay <span style="color: red">*</span></h4>
            <div class="d-flex">
              <div>
                <label>Month</label>
                <select
                  class="form-select m-2"
                  id="month"
                  required
                  name="month"
                  (change)="month($event)"
                >
                  <option selected hidden>Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div style="margin-left: 4rem">
                <label>Date</label>
                <select class="form-select m-2" id="date" name="date" required>
                  <option selected hidden>Date</option>
                  <option value="{{ i }}" *ngFor="let i of date">
                    {{ i }}
                  </option>
                </select>
              </div>
              <div style="margin-left: 4rem">
                <label>Year</label
                ><select class="form-select m-2" id="year" name="year" required>
                  <option selected hidden>Year</option>
                  <option value="{{ i }}" *ngFor="let i of year">
                    {{ i }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div style="margin-left: 10rem">
            <h4>Are You a Indian Citizen?<span style="color: red">*</span></h4>
            <input
              type="checkbox"
              value="Yes"
              id="yes"
              class="m-2 mt-5"
              (click)="onlyone('yes')"
            /><span>Yes</span>

            <input
              type="checkbox"
              value="No"
              id="no"
              class="m-2 mt-5"
              (click)="onlyone('no')"
            /><span>No</span>
          </div>
        </li>
        <li>
          <h4>About Yourself <span style="color: red">*</span></h4>
          <br />
          <textarea rows="3" class="form-control" style="resize: none;"></textarea>
        </li>
      </ul>
      <h3 style="font-size: 700">Education:</h3>
      <ul class="mb-5">
        <li>
          <h4>School 10th <span style="color: red">*</span></h4>
          <div class="d-flex">
            <div class="flex-fill">
              <label>School Name</label
              ><input
                type="text"
                placeholder="School Name"
                class="form-control m-2"
                name="schooltenth"
                required
              />
            </div>
            <div style="margin-left: 4rem" class="flex-fill">
              <label>CGPA/Percentage</label
              ><input
                type="text"
                placeholder="Percentage/CGPA"
                class="form-control m-2"
                name="gradetenth"
                required
              />
            </div>
          </div>
        </li>
        <li>
          <h4>School 12th <span style="color: red">*</span></h4>
          <div class="input-group">
            <label>School Name</label>
            <label style="margin-left: 18.5rem">Stream</label>
            <label style="margin-left: 20rem">CGPA/Percentage</label>
          </div>
          <div class="d-flex p-2">
            <input
              type="text"
              placeholder="School Name"
              class="form-control m-2"
              name="schooltwelth"
              required
            />
            <input
              type="text"
              placeholder="Stream"
              class="form-control m-2"
              name="stream"
              required
            />
            <input
              type="text"
              placeholder="Percentage/CGPA"
              class="form-control m-2"
              name="gradetwelth"
              required
            />
          </div>
        </li>

        <li>
          <h4>Higher Education <span style="color: red">*</span></h4>
          <div class="border-bottom pb-4">
            <div class="mt-4 input-group pl-5 mb-3">
              <input
                type="checkbox"
                name="ug"
                id="ug"
                (change)="ugtoggle($event.target)"
                checked
              /><span class="">Undergraduate</span>
            </div>

            <div *ngIf="toggleug">
              <div class="d-flex mt-4 p-2">
                <div class="flex-fill">
                  <label>College Name</label>
                  <input
                    type="text"
                    placeholder="College"
                    class="form-control m-2"
                    name="college"
                    required
                  />
                </div>
                <div style="margin-left: 4rem" class="flex-fill">
                  <label>Degree</label
                  ><input
                    type="text"
                    placeholder="Degree"
                    class="form-control m-2"
                    name="degree"
                    required
                  />
                </div>
              </div>

              <div class="input-group pl-5 mt-3">
                Graduated ? &nbsp;<input
                  type="checkbox"
                  value="Yes"
                  id="ugyes"
                  class="m-2"
                  (click)="onlyone('ugyes')"
                /><span class="p-1">Yes</span>

                <input
                  type="checkbox"
                  value="No"
                  id="ugno"
                  class="m-2"
                  (click)="onlyone('ugno')"
                /><span class="p-1">No</span>
              </div>
              <div *ngIf="toggleugg == 1" class="mt-3">
                <label>DGPA</label>
                <input
                  type="text"
                  placeholder="Latest SGPA"
                  class="form-control m-2"
                  name="gradecollege"
                  style="width: max-content"
                  maxlength="5"
                  required
                />
              </div>
              <div *ngIf="toggleugg == 2" class="d-flex mt-3">
                <div>
                  <label>Current Semester</label>
                  <input
                    type="text"
                    placeholder="Semester(Eg. 3rd)"
                    class="form-control m-2"
                    name="semester"
                    style="width: max-content"
                    maxlength="4"
                    required
                  />
                </div>
                <div>
                  <label>Latest SGPA</label>
                  <input
                    type="text"
                    placeholder="Latest SGPA"
                    class="form-control m-2"
                    name="gradecollege"
                    style="width: max-content"
                    maxlength="5"
                    required
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="pt-4 mt-4">
            <div class="input-group">
              <input
                type="checkbox"
                name="ug"
                id="ug"
                (change)="pgtoggle($event.target)"
              /><span class="">Postgraduate</span>
            </div>
            <div *ngIf="togglepg">
              <div class="d-flex mt-3 p-2">
                <div class="flex-fill">
                  <label>College Name</label>
                  <input
                    type="text"
                    placeholder="College"
                    class="form-control m-2"
                    name="college"
                    required
                  />
                </div>
                <div class="flex-fill" style="margin-left: 4rem">
                  <label>Degree</label>
                  <input
                    type="text"
                    placeholder="Degree"
                    class="form-control m-2"
                    name="degree"
                    required
                  />
                </div>
              </div>

              <div class="input-group pl-5 mt-3">
                Graduated ? &nbsp;<input
                  type="checkbox"
                  value="Yes"
                  id="pgyes"
                  class="m-2"
                  (click)="onlyone('pgyes')"
                /><span class="p-1">Yes</span>

                <input
                  type="checkbox"
                  value="No"
                  id="pgno"
                  class="m-2"
                  (click)="onlyone('pgno')"
                /><span class="p-1">No</span>
              </div>
              <div *ngIf="togglepgg == 1" class="mt-3">
                <label>DGPA</label>

                <input
                  type="text"
                  placeholder="DGPA"
                  class="form-control m-2"
                  name="gradecollege"
                  style="width: min-content"
                  required
                />
              </div>
              <div *ngIf="togglepgg == 2" class="d-flex mt-3">
                <div>
                  <label>Current Semester</label>
                  <input
                    type="text"
                    placeholder="Semester(Eg. 3rd)"
                    class="form-control m-2"
                    style="width: min-content"
                    name="semester"
                    required
                  />
                </div>
                <div>
                  <label>Latest SGPA</label>

                  <input
                    type="text"
                    placeholder="Latest SGPA"
                    class="form-control m-2"
                    name="gradecollege"
                    style="width: min-content"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <h3>Skills/Qualifications:</h3>

      <h3>Cover Letter & Resume <span style="color: red">*</span></h3>
      <div class="mt-4 mb-5">
        <div class="input-file-container">
          <input
            class="input-file"
            id="my-file"
            type="file"
            accept="application/pdf"
            (change)="change()"
          />
          <label for="my-file" class="btn-solid-lg text-white cursor"
            >Add Resume</label
          >
        </div>
        <p class="file-return" style="color: black"></p>
      </div>
      <br />

      <h3>Send Application <span style="color: red">*</span></h3>

      <div class="mt-4 mb-5">
        By clicking the submit button below, I cerity that all of the
        information provided by me on this application is true and complete, and
        I understand that if any false information, ommissions, or
        misrepresentations are discovered, my application may be rejected and,
        if I am employed, my employement may be terminated at any time. &nbsp;
        In consideration of my employment, I agree to conform to the company's
        rules and regulations, and I agree that my employment and compenstation
        can be terminated, with or without cause, and with or without notice, at
        any time, at either my or the company's option. &nbsp; I also understand
        and agree that the terms and conditions of my employment may be changed,
        with or without cause, and with or without notice, at any time by the
        company. &nbsp;
      </div>

      <button class="btn btn-primary" style="float: right">Submit</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
